@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Jura:wght@600&family=Karla&display=swap);

@font-face {
  font-family: 'EBENYA';
  src: url('./fonts/EBENYA.ttf');
}

.top-bar {
  background-color: white;
  height: 205px;
  width: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  height: 170px;
  width: 1440px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.title {
  font-family: EBENYA;
  font-size: 100px;
  color: black;
  text-shadow: 8px 0px #616360c4;
  text-align: center;
  position: relative;
  top: 1rem;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.menu {
  font-family: Karla, sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  font-size: 17px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 70px;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.top-bar2 {
    background-color: #191E1E;
    height: 150px;
    width: 1440px;
    transform: translateX(-13%);
    margin-top: 35px;
    color: white;
    padding: 30px;
    font-family: Jura, sans-serif;
    font-size: 35px;
  }
 
  .meso {
    font-family: EBENYA;
    font-size: 70px;
    color: #829F73;
  }
  section {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    margin-top: 149px;
    max-width: 100%vh;
    
    
  }


.tamanho{

  height: 40%;


}