@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&family=Karla&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');



@font-face {
  font-family: 'EBENYA';
  src: url('./fonts/EBENYA.ttf');
}

.top-bar {
  background-color: white;
  height: 205px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  height: 170px;
  width: 100%;
  color: white;
  font-family: Jura, sans-serif;
  font-size: 35px;
  text-align: center;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: EBENYA;
  font-size: 100px;
  color: black;
  text-shadow: 8px 0px #616360c4;
  text-align: center;
  position: relative;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  font-family: Karla, sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  font-size: 17px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav.menu ul li a {
  font-size: 20px;
  color: black;
  transition: all 0.2s ease;
}

nav.menu ul li a:hover {
  font-size: 24px;
  color: white;
  animation: crescerMudarCor 0.5s ease forwards running;
}

@keyframes crescerMudarCor {
  0% {
    color: white;
    font-size: 24px;
  }
  50% {
    font-size: 28px;
  }
  100% {
    color: #829F73;
    font-size: 24px;
  }
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 70px;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.top-bar2 {
  background-color: #191E1E;
  height: 150px;
  width: 100%;
  margin-top: 35px;
  color: white;
  padding: 30px;
  font-family: Jura, sans-serif;
  font-size: 35px;
  text-align: center;
  animation-name: fadeIn;
}

.meso {
  font-family: EBENYA;
  font-size: 70px;
  color: #829F73;
  text-shadow: 8px 0px #616360c4;
  /*adicione mais shadows aqui*/
  text-align: center;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: relative;
  margin: 20px;
  overflow: hidden;
}

.image img {
  display: block;
  max-width: 100%;
  transition: transform 0.5s ease;
  justify-content: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: height 0.5s ease;
}

.overlay h2 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #191E1E;
  color: #FFF;
}

.image:hover .overlay {
  height: 100%;
}

.image:hover img {
  transform: scale(1.2);
  filter: blur(2px); /* adiciona blur na imagem */
  position: relative;
}

.image:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* adiciona uma caixa de opções semi-transparente */
  z-index: 1;
}

.image:hover .options {
  display: block; /* mostra a caixa de opções quando o mouse passa sobre a imagem */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.options {
  display: none; /* oculta a caixa de opções por padrão */
}

.options a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #191E1E;
  margin: 10px;
  transition: all 0.2s ease;
   
}

.options a:hover {
  background-color: #fff;
  color: #000;
}

.options a i {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
}

.options a i:hover {
  color: #000;
  
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.footer {
  background-color: #191E1E;
  height: 150px;
  width: 100%;
  margin-top: 35px;
  color: white;
  padding: 30px;
  font-family: Jura, sans-serif;
  font-size: 35px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.branding {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.icons {
  display: flex;
  margin-right: 100px;

}

.icons a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #191E1E;
  margin: 10px;
  transition: all 0.2s ease;
}

.frete {
  margin: 50px auto;
  width: 500px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  margin-top: 0;
  font-size: 30px;
}

form {
  display: inline-block;
  margin-top: 20px;

}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin-right: 10px;

}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;

}

button:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.2s ease;

}

